.header {
    margin: 92px 24px 0 24px;
    display: grid;
    grid-template-areas: "header__menu header__logo address";
    align-items: center;
}

.header__links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
}

.header__logo {
    display: block;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    grid-column: -1;
}